html {
  scroll-behavior: smooth;
}

.header {
  height: auto;
  justify-content: inherit;
  align-items: inherit;
  position: relative;
  text-align: center;
  color: white;
}
h2 { color: #5b0000 /*, 8e2921, 5b0000, 7B3A30*/; font-family: 'Helvetica Neue', sans-serif; font-size: 70px; font-weight: bold; letter-spacing: -1px; line-height: 1; text-align: left; }

.para2 { color: #362e28; font-family: 'Helvetica Neue', sans-serif; font-size: 18px; font-weight: 100; line-height: 32px; margin: 0 0 72px; text-align: left; }

.question{ color: #362e28; font-family: 'Helvetica Neue', sans-serif; font-size: 18px; font-weight: bold; line-height: 32px; margin: 0 0 72px; text-align: left; }

.para{
 /* {"color":"#c7821c",
"name":"brown",
"textColor":"black"},*/

 color: #bc8644 /*#c7821c#7c795d*/; font-family: 'Trocchi', serif; font-size: 30px; font-weight: normal; line-height: 48px; margin: 0; 
}
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.photo img {
  width: 100%;
/*  display: block;*/
}



.empty {
  height: 300px;
  width: 400px;
  /*border: 3px solid green;*/
}


.scrollytelling-text {
  max-width: 440px;
  /*border: 3px solid #663300;*/
  word-wrap: break-word;
  margin: 10px;
  padding: 40px 20px 40px 20px; /* top, right, bottom, left */
}

svg {
    position: sticky;
}
div.sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  padding: 100px;
  
  }
/*
div .sticky #countryLabelsToggle { 

  border: 3px solid green;
}
div .sticky #reset { 

  border: 3px solid green;
}
div .sticky #switchMode { 

  border: 3px solid green;
  padding: 10px 20px 20px 100px;
  

}*/
/* top, right, bottom, left */

button#countryLabelsToggle {

background:    #ffffff;
background:    linear-gradient(#ffffff, #f3f3f3);
 background-color: white;
border-radius: 5px;
padding:       8px 20px;
color:         #741b47;
display:       inline-block;
/*font:          normal bold 24px/1 'Helvetica Neue', sans-serif;*/
text-align:    center;

    position: sticky;
    top: 10%;
    left: 87%;
}

button#reset {
  background:    #ffffff;
background:    linear-gradient(#ffffff, #f3f3f3);
 background-color: white;
border-radius: 5px;
padding:       8px 20px;
color:         #741b47;
display:       inline-block;
/*font:          normal bold 24px/1 'Helvetica Neue', sans-serif;*/
text-align:    center;


    position: sticky;
    top: 90%;
    left: 0%;
}

button#switchMode {
  background:    #ffffff;
background:    linear-gradient(#ffffff, #f3f3f3);
 background-color: white;
border-radius: 5px;
padding:       8px 20px;
color:         #741b47;
display:       inline-block;
/*font:          normal bold 24px/1 'Helvetica Neue', sans-serif;*/
text-align:    center;

    position: sticky;
    top: 10%;
    left: 300%;
}

.button4 {
  background-color: #ffecc3;
  color: black;
  border: 2px solid #e7e7e7;

}


/**********************
Freq plot fixed sidebar

Credit:
https://www.w3schools.com/howto/howto_css_fixed_sidebar.asp
**********************/

/* The sidebar menu */
.sidenav {
  height: 40%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: sticky; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 1; /* Stay on top */
  top: 25%; /* Stay at the top */
  left: 90%;
  background-color: white; /*f5e6ce;*/
  /*overflow-x: hidden; /* Disable horizontal scroll */
  overflow-y: hidden;
  padding-top: 10px;
}

/* The navigation menu links */
.sidenav a {
  font-family: sans-serif;
  padding: 0px 8px 3px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #8e2921/*663300*/;
  display: block;

}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
  font-weight: bold;
}

/* Keep current selection bold */
.sidenav a.active {
  font-weight: bold;
}

/**********************
Dot formating

Credit:
Lab 6
**********************/
.dot circle {
    fill: #663300;
}

.dot text {
    text-anchor: middle;
    font-size: 10px;
    pointer-events: none;
    fill: #555;
    opacity: 0.5;
}

.dot:hover text {
    opacity: 1;
}

/**********************
Box-and-whisker formating
**********************/

svg .bnw {
  fill: #663300;
  stroke: #663300;
}

/**********************
Freq plot tooltip

Credit: Layb 7
**********************/

.d3-tip {
  line-height: 1;
  padding: 6px;
  background: #b8a77b;
  color: #333;
  border-radius: 4px;
  font-size: 12px;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 10px;
  width: 100%;
  line-height: 1;
  color: #b8a77b;
  content: "\25BC";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips specifically */
.d3-tip.n:after {
  margin: -2px 0 0 0;
  top: 100%;
  left: 0;
}

.d3-tip h5{
  font-size: 13px;
  font-weight: 600;
  margin: 2px 10px 4px 2px;
}

.d3-tip thead td {
  border-bottom: 1px solid #ccc;
  font-size: 10px;
  font-weight: 600;
}

.d3-tip td {
  padding: 2px 10px 2px 2px;
}

.d3-tip thead tr {
  padding-top: 10px;
}

/**********************
Freq plot x & y labels
**********************/
svg .x.axis text {
    font-size: 15px;
    fill: #663300;
}

svg .x.axisLabel {
    /*font-family: sans-serif;*/
    font-size: 20px;
    fill: #663300;
    text-anchor: middle;
}

svg .countries {
    /*font-family: sans-serif;*/
    font-size: 10px;
    fill: #663300;
    text-anchor: left;
}

svg .y.axisLabel {
    font-size: 20px;
    fill: #663300;
}


/**********************
Body formating
**********************/

body {
    font-family: sans-serif;
    margin: 0;
    background-color: white; /*f5e6ce;*/
}

#main {
    margin: 20px;
    clear: left;
}


