@font-face {
  font-family: 'coffeeMapFont';
  src: url('coffeeMapFont.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3��5 */
}

@font-face {
  font-family: 'pirates';
  src: url('PiratesWriters.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3��5 */
}

@font-face {
  font-family: 'HelveticaNeueBd';
  src: url('HelveticaNeueBd.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3��5 */
}

@font-face {
  font-family: 'HelveticaNeue';
  src: url('HelveticaNeueLt.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3��5 */
}


#preferenceVis .coffeeIconUnderMap div {
  text-anchor: start;
  color: #362e28; 
  font-family: 'HelveticaNeue', sans-serif; 
  font-size: 16px; 
  font-weight: 100;
  text-align: left;
}

#preferenceVis #preferenceVissliders .sliderTitle {
  margin: 0px !important;
  padding: 0px !important;
  text-anchor: start;
  color: #5b0000; 
  font-family: 'HelveticaNeueBd', sans-serif; 
  font-size: 18px; 
  font-weight: 1000;
  text-align: left;
  text-transform: capitalize;
}

#complexVismap svg #complexVismapmapTitle {
	font-family: coffeeMapFont;
	font-weight: 20px;
	font-style: oblique;
	font-size: 130px;
	text-anchor: middle;
}

#preferenceVismap svg #preferenceVismapmapTitle {
  font-family: coffeeMapFont;
  font-weight: 20px;
  font-style: oblique;
  font-size: 130px;
  text-anchor: middle;
}

.countryNameLabel {
	background: rgba(255, 255, 255, 0.7);
  	padding: 2px 5px;
  	border:0;
  	border-radius:12px;
  	box-shadow: 1 0px 0px;
  	text-anchor: start;
  	font-weight: 100;
  	/*font-family: pirates;*/
    font-family: 'HelveticaNeueBd', sans-serif; 
  	font-size: 12px;
}

.countryInfoTooltip {
    background: rgba(127,201,127, 0.8);
    padding: 0px 10px 0px 10px;
    border:3;
    border-color: rgb(179,205,227);
    border-radius:10px;
    box-shadow: 1 0px 0px;
    text-anchor: start;
    font-weight: 200;
    min-width: 135px;
    font-family: pirates;
    /*font-family: 'HelveticaNeue', sans-serif; */
    font-size: 14px;
}

.countryCompareInfo {
  padding: 0px 10px;
  /*font-family: pirates;
  font-size: 22px;*/

  font-family: 'HelveticaNeueBd', sans-serif; 
  font-size: 18px; 

  /*background: rgba(128,177,211,0.8);*/
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
}

.countryCompareInfo h3 {
  margin: 0 0 5px;
  color: #5b0000;
  font-size: 19px;
  /*color: rgb(217,95,2);*/
}

.countryShowColorLegend {
 /* font-family: pirates;
  font-size: 20px;*/
  font-family: 'HelveticaNeueBd', sans-serif;
  font-size: 15px;
}

/********* Parallel coord ********/
  #complexVisbrushing svg.parallel-coords path {
    fill: none;
  }

  #complexVisbrushing svg.parallel-coords .y.label {
    /*font-family: sans-serif;*/
    font-size: 14px;
    fill: #663300;
    text-anchor: middle;
  }
/********* Parallel coord ********/


/********* Histograms ********/
  #complexVishistograms svg.histograms .dotHist {
    fill: #663300;
    /*opacity: 0.3;*/
  }

  #complexVishistograms svg.histograms .y.label {
    /*font-family: sans-serif;*/
    font-size: 14px;
    fill: #663300;
    text-anchor: middle;
  }

  #complexVishistograms svg.histograms .x.label {
    font-size: 14px;
    fill: #663300;
    text-anchor: middle;
  }

/********* Histograms ********/


/********* d3-tip ********/
  .d3-tip {
    line-height: 1;
    padding: 6px;
    background: #b8a77b;
    color: #333;
    border-radius: 4px;
    font-size: 12px;
  }

  /* Creates a small triangle extender for the tooltip */
  .d3-tip:after {
    box-sizing: border-box;
    display: inline;
    font-size: 10px;
    width: 100%;
    line-height: 1;
    color: #b8a77b;
    content: "\25BC";
    position: absolute;
    text-align: center;
  }

  /* Style northward tooltips specifically */
  .d3-tip.n:after {
    margin: -2px 0 0 0;
    top: 100%;
    left: 0;
  }

  .d3-tip h5{
    font-size: 13px;
    font-weight: 600;
    margin: 2px 10px 4px 2px;
  }

  .d3-tip thead td {
    border-bottom: 1px solid #ccc;
    font-size: 10px;
    font-weight: 600;
  }

  .d3-tip td {
    padding: 2px 10px 2px 2px;
  }

  .d3-tip thead tr {
    padding-top: 10px;
  }
/********* d3-tip ********/